<h>
    <h1 style="text-align:center">Hakkımızda</h1>
    <center>
        SİNFLEX SİNEMA GROUP
        <br />
        SinFlex Sinema GROUP; 2001 yılında teknoloji ve konforu, beklentilerin üzerinde hizmet anlayışı ile birleştirerek, Türkiye’de farklı ve kendine özgü bir sinema deneyimi yaratma felsefesiyle kurulmuştur.
        <br />
        Sunmuş olduğu hizmet ve teknolojik yenilikler ile 2013 yılında dünyanın en büyük sinema birliği olan UNIC (International Union of Cinemas) tarafından “Uluslararası Yılın Sinema Grubu” ödülüne layık görülen SinFlex Sinema Group, 36 şehirde 97 sinema işletmesi ve 848 salon sayısı ile Türkiye’nin en büyük sinema zinciridir.
        <br />
        Sinema teknolojilerindeki gelişmeleri her zaman yakından takip eden ve bu yenilikleri Türk izleyicisi ile ilk önce buluşturan Mars, misafirlerinin sinema deneyimini en üst seviyeye çıkartmayı amaçlamaktadır. Bu tutku ile Mars, Türkiye’de dijital dönüşümünü tamamlayan, yani tüm görüntü ve ses sistemlerini dijitalleştiren ilk sinema zinciri olmuştur.
        <br />
        Türkiye’deki tüm IMAX salonlarını bünyesinde bulunduran SinFlex Sinema Group aynı zamanda Kasım 2015’te 4DX teknolojisini de Türk sinema izleyicisi ile buluşturup bu konuda da bir ilke imza atmıştır.
        <br />
        SinFlex Sinema Group, sinema işletmeciliği faaliyetlerine ek olarak bünyesinde bulunan Mars Media ile sinema reklam sektöründe, Mars Dağıtım ile de film dağıtım sektöründe faaliyet göstermektedir.
    </center>
</h>

