<div class="col-lg-6"><iframe src="https://www.google.com/maps/d/embed?mid=1cMgYC9eUyrKizx55tn98QMMIuWPMwWHV" width="640" height="480"style="text-align:left"></iframe></div>
<div class="col-lg-6">
    <ul style="text-align:center;margin-left:150px;font-size:20px">İletişim Formu</ul><br />
        <p>
            <label type="text" style="margin-left:200px">Adınız:</label><input type="text" size="30"/>
        </p>
        <p>
            <label type="text" style="margin-left:178px;">Soyadınız:</label><input type="text" size="30" />
        </p>
        <p>
            <label type="text" style="margin-left:116px">Tc Kimlik Numarası:</label><input type="text" size="30" />
        </p>
        <p>
            <label type="text" style="margin-left:180px">Mesajınız:</label><input type="text" size="30" />
    <button style="margin-left:310px;margin-top:10px;width:100px;margin-top:20px">Gönder</button>
</div>