
<div class="col-lg-6"><iframe src="https://www.google.com/maps/d/embed?mid=1cMgYC9eUyrKizx55tn98QMMIuWPMwWHV" width="640" height="480"style="text-align:left"></iframe></div>
<div class="col-lg-6">
    <ul style="text-align:center;margin-left:150px;font-size:20px">İletişim Formu</ul><br />
    <label type="text" style="margin-left:100px">Adınız:</label>
    <input type="text"/>
    <label type="text">Soyadınız:</label>
    <input type="text"/>
    <br />
    <label style="margin-left:80px;margin-top:10px">Tc Kimlik Numarası:</label>
    <input type="text" />
    <br />
    <label>Mesajınız:</label>
    <input type="text" />
</div>